[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[fa2f9ebe-a303-48af-98db-f9d0ecbb1594]
row=0
col=0

[50C09E68C09E5456]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/infinitecoder]
row=0
col=1

